.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.deleteButton {
  text-align: center;
  font-size: 8px;
  font-style: italic;
  border: 1px solid #78c7af;
  background-color: #a4f0d9;
  padding: 2px 6px;
  border-radius: 2px;
  transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.deleteButton:hover,
.deleteButton:focus {
  background-color: rgb(171, 128, 211);
  color: rgb(234, 240, 240);
}
.contactName {
  text-align: center;
  font-size: 12px;
  font-style: italic;
}
.contactNumber {
  text-align: center;
  font-size: 10px;
  font-style: italic;
}
.svgIcon{
  width: 14px;
  height: 14px;
}
